a {
  text-decoration: none;
}

body {
  margin: 0;
}

img {
  max-width: 100%;
  border: 0;
}

/* Product Page Style */
.products .top-section {
  background-color: #FCFCF9;
  padding: 2% 15%;
}

.products .top-section .top-header h2 {
  font-size: 48px;
  letter-spacing: 0px;
  font-family: freight-display-pro,serif;
  font-weight: 100;
  text-transform: none;
  color: #2B2E2B;
  margin-bottom: 26px;
}

.products .top-section .top-header p {
  font-size: 16px;
  letter-spacing: 0.03px;
  text-transform: none;
  color: #2B2E2B;
  margin-bottom: 36px;
}


.products .products-section {
  padding: 25px;
  background-color: #E2E6E3;
  display: flex;
  flex-wrap: wrap;
}

.product-inner {
  padding: 50px 30px;
}

.product {
  text-align: center;
  min-height: 50px;
  flex: 0 0 33.33%;
}

.product .product-image {
  font-size: 20px;
  font-family: FF Bau Medium, san-serif;
  margin-bottom: 30px;
  max-height: 180px;
  object-fit: contain;
}

.product .product-title {
  font-size: 18px;
  line-height: 25px;
  font-family: san-serif;
  color: #2B2E2B;
  font-weight: 500;
  margin-bottom: 6px;
}

.product .product-price {
  font-size: 16px;
  color: #0B0C0D;
  line-height: 0;
  margin-bottom: 28px;
}

.buttons {
  display: flex;
  justify-content: center;
}

.product-btn {
  padding: 14px 11px;
  border: 0.5px solid #4B5548;
  width: calc(50% - 5px);
  font-size: 16px;
  text-align: center;
  cursor: pointer;
  font-family: san-serif;
}

.product-btn-2 {
  background-color: #4B5548;
  color: #FCFCF9;
}

.product-btn-2:hover {
  background-color: #2B2E2B;
}

.product-image-container {
  min-height: 220px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

@media (min-width: 1025px) {
  .product .seventy-percent-width {
    width: 70%;
  }
}

@media (min-width: 768px) {
  .products .top-section .top-header {
    padding-right: 20px;
  }
}

@media (max-width: 1023px) {
  .product-btn {
    width: 100%;
    font-size: 13px;
    font-family: FF Bau Medium, san-serif;
    margin-bottom: 8px;
  }
}

@media (max-width: 767px) {
  .products .top-section {
    flex-direction: column;
    min-height: inherit;
  }

  .products .top-section .top-header h2 {
    font-size: 32px;
    letter-spacing: 0.19px;
    margin-bottom: 10px;
  }

  .products .products-section {
    margin-top:50px;
  }

  .product {
    flex: 0 0 50%;
  }

  .product-inner {
    padding: 40px 10px;
  }

  .product .product-price {
    line-height: unset;
  }

  .products .top-section .top-header p {
    margin-bottom: 20px;
  }
  
  .product-image-container {
    min-height: 180px;
  }
}

/* Loader */
.loader {
 text-align: center;
 margin-top: 20%;
}

.loader .fa {
  font-size: 80px;
}

.loader .loader-text {
  margin-top: 1%;
  font-size: 20px;
  font-style: italic;
}


/* Cart Style */
.cart-overlay {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: #6e7b70;
  opacity: 0;
  pointer-events: none;
  transition: all .4s ease-in-out;
}

.cart-overlay {
  pointer-events: auto;
  z-index: 490;
  opacity: .38;
}

body.side-nav {
  overflow: hidden !important;
}

.right-cart.open {
  -webkit-transform: translateX(0);
  transform: translateX(0);
  opacity: 1;
}

.right-cart {
  position: fixed;
  top: 0;
  left: 0;
  background-color: #f2f2ef;
  display: flex;
  flex-direction: column;
  height: 100%;
  overflow-x: auto;
  max-width: 550px;
  width: 100%;
  z-index: 490;
  transition: opacity .4s ease-in-out .1s,-webkit-transform .4s cubic-bezier(.28,.47,.29,.86);
  transition: transform .4s cubic-bezier(.28,.47,.29,.86),opacity .4s ease-in-out .1s;
  transition: transform .4s cubic-bezier(.28,.47,.29,.86),opacity .4s ease-in-out .1s,-webkit-transform .4s cubic-bezier(.28,.47,.29,.86);
  opacity: 0;
  left: auto;
  right: 0;
  -webkit-transform: translateX(100%);
  transform: translateX(100%);
}

.cart-title {
  color: #696969;
  font-weight: 400;
  letter-spacing: 1px;
  font-style: normal;
  font-size: 10px;
  text-align: center;
  margin-bottom: 0;
  line-height: 1.2;
}

.cart-top {
  display: flex;
  flex-direction: row;
  margin-bottom: 10px;
}

.cart-top>div {
  flex: 1;
  width: 33.3%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding-top: 20px;
}

.cart-top .svg-wrapper {
  border-radius: 50%;
  border: 1px solid rgb(198, 204, 199);
  width: 24px;
  height: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  margin-left: 20px;
}

.cart-top .svg { 
  height: 15px;
  width: 10px;
  fill: rgb(43, 46, 43);
}

.cart-body {
  padding-left: 20px;
  padding-right: 20px;
  flex: 1;
  overflow-y: auto;
}

.currency-select-wrapper {
  margin-left: 20px;
  margin-right: 20px;
  margin-top: 10px;
}

.currency-select {
  padding: 8px 15px 5px 10px;
  background-position: 42px;
  border: none;
  max-width: 70px;
  margin-bottom: 20px;
}

select {
  background: #fff url(//cdn.shopify.com/s/files/1/2960/5204/t/4/assets/select.png?5997012569058552034) no-repeat right center;
  cursor: pointer;
  padding: 10px 2em 10px 8px;
  -webkit-padding-end: 30px;
  background-size: 17px 5px;
  -moz-appearance: none;
  text-indent: 0.01px;
  text-overflow: '';
  -webkit-appearance: none;
}

.cart-item {
  display: flex;
  flex-wrap: wrap;
  min-height: inherit;
  max-height: inherit;
  justify-content: space-between;
  position: relative;
  margin-bottom: 20px;
  background: #fff;
}

.cart-item .product-description {
  color: #1e2d2b;
  width: 65%;
  line-height: 18px;
  font-size: 10px;
  letter-spacing: .02px;
}

.inner-product-description {
  padding: 15px 13px 13px 21px;
}

.inner-product-description h3 {
  font-size: 13px;
}

.cart-item .product-description .remove-product {
  float: right;
  padding-right: 5px;
  position: absolute;
  right: 27px;
  margin-top: -10px;
  margin-right: -20px;
  font-size: 20px;
  opacity: .7;
  cursor: pointer;
  color: #000;
}

.cart-item .product-description .quantity {
  font-size: 100%;
  margin-top: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.cart-item .product-description .quantity-selector {
  border: .5px solid #bcbcbc;
  padding: 7px;
  width: 76px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.cart-item .product-description .quantity .price {
  float: right;
  padding: 0 10px;
  letter-spacing: 1px;
  width: inherit;
  font-size: 16px;
  letter-spacing: .03px;
}

.cart-item .product-image {
  background-color: #fdfdfd;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #1e2d2b;
  width: 33.3%;
}

.cart-item .product-description .quantity .counter {
  padding: 0 10px;
  font-size: 13px;
}

.cart-item .product-description .quantity .counter-action {
  cursor: pointer;
  color: #000;
  font-size: 15px;
}

.inner-product-image {
  padding: 20px 50px;
}

.inner-product-image img {
  max-height: 80px;
}

#cart-form .cart-footer {
  border-top: 1px solid #d0d0d0;
  box-shadow: 0 -4px 12px rgba(0,0,0,.15);
  z-index: 1;
}

.cart-footer {
  padding: 0 20px 20px;
}


.cart-footer .cart-subtotal {
  margin-top: 10px;
  margin-bottom: 10px;
  padding-top: 15px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border: 0 solid #6e7b70;
  border-top: none;
}

.cart-footer .cart-subtotal .subtotal-price {
  font-family: FF Bau Medium,san-serif;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.cart-buttons {
  display: flex;
  flex-direction: column;
  margin-bottom: 15px;
}

.cart-footer .checkout-btn, .cart-footer .subscription-btn {
  font-size: 12px;
  font-weight: 400;
  font-style: normal;
  padding: 16px 20px;
  text-align: center;
  text-decoration: none;
}

.cart-footer .subscription-btn {
  color: #2b2e2b;
  letter-spacing: .96px;
  border: 1px solid #2b2e2b;
  background-color: #fff;
}

.cart-footer .checkout-btn {
  color: #fff;
  letter-spacing: 2px;
  background-color: #4b5548;
  border: none;
  margin-top: 15px;
}

.cart-footer .checkout-btn, .cart-footer .subscription-btn {
  font-size: 12px;
  font-weight: 400;
  font-style: normal;
  padding: 16px 20px;
  text-align: center;
  text-decoration: none;
}